<h1 align=center><font size = 6><em>B</em>attle of Neighborhoods:</font></h1>  
<h1 align=center><font size = 6> Explore the Similarity of Given Metropolitan Cities</font></h1>
<h2 align=center><font size = 3> Author:x.l.dang@Beijing,China. Feedback Email:xldang2020@gmail.com</font></h2>
<h1 align=left><font size = 3> Chapter 1. Battle understanding</font></h1>
<h2 align=left><font size = 3> Chapter 2. Data Requirements</font></h2>
<h2 align=left><font size = 3> Chapter 3. Data collection</font></h2>
<h2 align=left><font size = 3> Chapter 4. Methodology</font></h2>
<h2 align=left><font size = 3> Chapter 5. Results</font></h2>
<h2 align=left><font size = 3> Chapter 6. Discussion</font></h2>
<h2 align=left><font size = 3> Chapter 7. Conclusion</font></h2>

# Chapter 1. Battle understanding

In this assignment, I explored New York City ,Toronto and other cities with their respective segmented and clustered neighborhoods. One interesting idea I explored is comparing the neighborhoods of the two cities and determine how similar or dissimilar they are. For example, is New York City more like Toronto or Paris or some other multicultural city?

# Chapter 2. Data Requirements

For given metropolitan cities,I will explore the similarity of them from the perspective of venue distribution.The venues of a city are like human capillaries. Each venue is a small feature of the city. Together, these features can reflect a certain aspect of the city.

<img src = "fig1 city venues.png" width = 500>

<h1 align=center><font size = 3><em>Fig.1</em> City capillaries</font></h1>

As shown in **Fig.1**, for a city, I need to collect its neighborhood(or district) data and the Venue data of each neighborhood.

# Chapter 3. Data collection

In order to obtain the target data, I executed the following path:

- Crawling wiki pages or other pages containing city district information
- Perform data cleaning on crawled webpages
- Obtain (Latitude,Longitude) infromation for each neighborhood/district using python toolkit <geopy.geocoders.Nominatim>
- Extracting venue information for each (Latitude,Longitude) using Python API < FourSquare >
- Each city corresponds to a pandas.DataFrame that stores target data.

## 3.1 import python dependency packages

In [3]:
import requests # library to handle requests
import pandas as pd # library for data analsysis
import numpy as np # library to handle data in a vectorized manner
import random # library for random number generation
#!pip install geopy
from geopy.geocoders import Nominatim # module to convert an address into latitude and longitude values
# tranforming json file into a pandas dataframe library
from pandas.io.json import json_normalize
#! pip install folium==0.5.0
#import folium # plotting library

print('Libraries imported.')

Libraries imported.

## 3.2 Geography information of chosen metropolitan cities

Without any prejudice, I chose Shanghai, London, New York City, Frankfurt, and Toronto from five countries respectively: China, the United Kingdom, the United States, Germany, and Canada.

- Shanghai,China
- London, the United Kingdom
- New York City, the United States
- Frankfurt, Germany
- Toronto,Canada

### 3.2.1 A tiny case

**Obtain the (Latitude,Longitude) infromation of location<E1,Head district,London>**

In [2]:
# for give postal_code and district ,return latitude and longitude.
postal_code,district='E1','Head district'
address ='{},{},London'.format(postal_code,district)
geolocator = Nominatim(user_agent="foursquare_agent")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print(latitude, longitude,'Success!')

51.57607015 -0.08524000965140796 Success!

**Obtain the venue infromation of location (latitude, longitude).**

In [11]:
CLIENT_ID = 'QYHRIW4L1Y5WF2MAPABDG5WNS4CVTPBPM5GJ35W5R02SLMB2' # your Foursquare ID
CLIENT_SECRET = 'SAKZYG1K2PN1Z0V1VXFZZYHQF33DAZBNOTALAHYY0UWPYSL0' # your Foursquare Secret
VERSION = '20180604'
radius=500
LIMIT = 30
url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            latitude, 
            longitude, 
            radius, 
            LIMIT)
results = requests.get(url).json()["response"]['groups'][0]['items']
results[0]['venue'] # take a look

{'id': '550c6ef4498e5f9032d1f02b',
 'name': 'New River Studios',
 'location': {'address': '199 Eade Rd',
  'lat': 51.57484776395148,
  'lng': -0.08798988683904155,
  'labeledLatLngs': [{'label': 'display',
    'lat': 51.57484776395148,
    'lng': -0.08798988683904155}],
  'distance': 233,
  'postalCode': 'N4 1DN',
  'cc': 'GB',
  'city': 'London',
  'state': 'Greater London',
  'country': 'United Kingdom',
  'formattedAddress': ['199 Eade Rd',
   'London',
   'Greater London',
   'N4 1DN',
   'United Kingdom']},
 'categories': [{'id': '4bf58dd8d48988d1f2931735',
   'name': 'Performing Arts Venue',
   'pluralName': 'Performing Arts Venues',
   'shortName': 'Performing Arts',
   'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/arts_entertainment/performingarts_',
    'suffix': '.png'},
   'primary': True}],
 'photos': {'count': 0, 'groups': []}}

### 3.2.2 Help functions

In [13]:
# generate_location_by_Postal Code
def gen_location_by_post(post_lis,district_lis,city=''):
    ans_pd=pd.DataFrame(columns=['Postal Code','Latitude','Longitude'])
    for post,district in zip(post_lis,district_lis):
        #print(post,district)
        address ='{},{},{}'.format(post,district,city)
        try:
            geolocator = Nominatim(user_agent="foursquare_agent")
            location = geolocator.geocode(address)
            latitude = location.latitude
            longitude = location.longitude
            print(post,district,latitude, longitude)
            ans_pd=ans_pd.append({'Postal Code':post,
                                  'Latitude':latitude,
                                 'Longitude':longitude},ignore_index=True)
        except:pass
    return ans_pd

In [14]:
# generate_location_by_district_name
def gen_location_by_district(district_lis,city=''):
    ans_pd=pd.DataFrame(columns=['District','Latitude','Longitude'])
    for district in district_lis:
        #print(district)
        address ='{},{}'.format(district,city)
        try:
            geolocator = Nominatim(user_agent="foursquare_agent")
            location = geolocator.geocode(address)
            latitude = location.latitude
            longitude = location.longitude
            print(district,latitude, longitude)
            ans_pd=ans_pd.append({'District':district,
                                  'Latitude':latitude,
                                 'Longitude':longitude},ignore_index=True)
        except:pass
    return ans_pd

In [40]:
# get Nearby Venues for a certain location(latitudes, longitudes)
def getNearbyVenues(names, latitudes, longitudes,radius,LIMIT):
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
        #print(name)
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT)
            
        # make the GET request
        results = requests.get(url).json()["response"]['groups'][0]['items']
        
        # return only relevant information for each nearby venue
        venues_list.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['District', 
                  'District Latitude', 
                  'District Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    
    return(nearby_venues)

### 3.2.3 Preparing London geography dataset
https://en.wikipedia.org/wiki/London_postal_district

**Store the target data in a .csv file by crawling the above URL**

In [12]:
London_POST=pd.read_csv('LONDON_POST.csv')
London_POST.head()

  Postal Code       District
0          E1  Head district
1          E2  Bethnal Green
2          E3           Bow
3          E4     Chingford
4          E5       Clapton

In [15]:
Location_with_post=gen_location_by_post(London_POST['Postal Code'].values,London_POST['District'].values,'London')

E1 Head district 51.57607015 -0.08524000965140796
E2 Bethnal Green 51.5272449 -0.054752
E3 Bow  51.529605 -0.0140886
E4 Chingford  51.6325345 0.009471
E5 Clapton  51.561653 -0.0568072
E6 East Ham 51.5394005 0.0526042
E7 Forest Gate 51.549251 0.0232808
E8 Hackney  51.54826805193756 -0.06354826029431693
E9 Homerton  51.54721919028112 -0.034755388470218924
E10 Leyton  51.5568183 -0.0051322
E11 Leytonstone  51.5688027 0.0086166
E12 Manor Park 51.5521996 0.0450354
E13 Plaistow  51.5311544 0.0166833
E14 Poplar  51.5076791 -0.0169979
E15 Stratford  51.541289 -0.0035472
E17 Walthamstow  51.5815237 -0.0237594
E20 Olympic Park 53.79670385 -1.5407780980840635
EC1 Head district 51.57607015 -0.08524000965140796
EC2 Bishopsgate  51.5193556 -0.079149
EC3 Fenchurch Street 51.5115568 -0.0827985
EC4 Fleet Street 51.5136715 -0.1119737
N1 Head district 51.57607015 -0.08524000965140796
N2 East Finchley 51.5871881 -0.1648137
N3 Finchley  51.5973246 -0.1805587
N4 Finsbury Park 51.5648345 -0.1064144
N5 Highbury  42.9859835 -81.1968436
N6 Highgate  51.5776825 -0.1458316
N7 Holloway  51.5572453 -0.1183706
N8 Hornsey  51.5863215 -0.1116832
N9 Lower Edmonton 51.6228426 -0.0553715
N10 Muswell Hill 51.5909303 -0.142295
N11 New Southgate 51.613804 -0.1428091
N12 North Finchley 51.6124905 -0.1756922
N13 Palmers Green 51.6183704 -0.110499
N14 Southgate  51.6323183 -0.1277858
N15 South Tottenham 51.5804433 -0.0717169
N16 Stoke Newington 51.5650626 -0.0726771
N17 Tottenham  51.5881223 -0.0599366
N18 Upper Edmonton 51.6136664 -0.0621951
N19 Upper Holloway 51.563474 -0.1296473
N20 Whetstone  51.62573305 -0.17634573765806277
N21 Winchmore Hill 51.6340675 -0.1009414
N22 Wood Green 51.597416 -0.1097795
NW2 Cricklewood  51.5469543 -0.2123244
NW3 Hampstead  51.55563345 -0.16684593529047703
NW4 Hendon  51.5782313 -0.2275916
NW5 Kentish Town 51.5506504 -0.1313083
NW6 Kilburn  51.5448076 -0.1832923
NW7 Mill Hill 51.6246893 -0.2541406
NW10 Willesden  51.5471812 -0.2293388
NW11 Golders Green 51.5777417 -0.2070121
SE2 Abbey Wood 51.4870978 0.109754
SE3 Blackheath  51.4680344 0.0040089
SE4 Brockley  51.4645027 -0.036698915539569346
SE5 Camberwell  51.475526 -0.0936365
SE6 Catford  51.4424006 0.0013173
SE7 Charlton  51.4818351 0.036773
SE8 Deptford  51.4780462 -0.0265874
SE9 Eltham  51.4588606 0.0797873
SE10 Greenwich  51.48305685463942 -0.0011986707099806686
SE11 Kennington  51.4863942 -0.119832
SE12 Lee  51.4360855 0.0196291
SE13 Lewisham  51.46199002390091 -0.014209495756918305
SE14 New Cross 51.4791289 -0.0352486
SE15 Peckham  51.4726965 -0.054035708164234426
SE16 Rotherhithe  51.49172135 -0.046909723038537854
SE17 Walworth  51.4893842 -0.0961964
SE18 Woolwich  51.4740285 0.0398315
SE19 Norwood  51.4244214 -0.0919694
SE20 Anerley  51.4123291 -0.057738
SE21 Dulwich  51.4304081 -0.0799247
SE22 East Dulwich 51.4416761 -0.0653871
SE23 Forest Hill 51.5156177 -0.0919983
SE24 Herne Hill 51.4416752 -0.105838
SE25 South Norwood 51.3931581 -0.0669774
SE26 Sydenham  51.434745 -0.0623883
SE27 West Norwood 51.4278012 -0.1042691
SW1 Head district 51.57607015 -0.08524000965140796
SW2 Brixton  51.4626818 -0.1147325
SW3 Chelsea  51.49189143665097 -0.16640948467359915
SW4 Clapham  51.4622924 -0.1388561
SW5 Earls Court 51.4916123 -0.193903
SW6 Fulham  51.48317875172319 -0.19955152488785663
SW7 South Kensington 51.4940494 -0.1730439
SW8 South Lambeth 51.5013012 -0.117287
SW9 Stockwell  51.47676436917647 -0.11093317358145417
SW10 West Brompton 51.4869765 -0.1951854
SW12 Balham  51.4428285 -0.1514426
SW13 Barnes  51.466783 -0.2411817
SW14 Mortlake  51.4680686 -0.2669404
SW15 Putney  51.4609339 -0.2153478
SW16 Streatham  51.4259609 -0.1313131
SW17 Tooting  51.4198634 -0.1614119
SW18 Wandsworth  51.4469934348484 -0.17809128186418324
SW19 Wimbledon  51.4209162 -0.2059098
SW20 West Wimbledon 51.4129332 -0.2176577
W1 Head district 51.57607015 -0.08524000965140796
W2 Head district 51.57607015 -0.08524000965140796
W3 Acton  51.5081402 -0.2732607
W4 Chiswick  51.4811465 -0.2681753
W5 Ealing  51.509446501112784 -0.30207676374776954
W6 Hammersmith  51.49829947921515 -0.2253548353430013
W7 Hanwell  51.5117871 -0.3386659
W8 Kensington  51.50450671394932 -0.19557021163117017
W9 Maida Hill 51.5240989 -0.194717
W10 North Kensington 51.5196647 -0.2106959
W11 Notting Hill 51.511009 -0.2055004
W12 Shepherds Bush 51.5043576 -0.2183251
W13 West Ealing 51.5135091 -0.3207704
W14 West Kensington 51.4906622 -0.205916

In [16]:
Location_with_post.head()

  Postal Code   Latitude  Longitude
0          E1  51.576070  -0.085240
1          E2  51.527245  -0.054752
2          E3  51.529605  -0.014089
3          E4  51.632534   0.009471
4          E5  51.561653  -0.056807

**Merge the Location_with_post and the London_POST**

In [17]:
geo_merged_London=pd.merge(London_POST,Location_with_post,on='Postal Code')

In [18]:
geo_merged_London.head()

  Postal Code       District   Latitude  Longitude
0          E1  Head district  51.576070  -0.085240
1          E2  Bethnal Green  51.527245  -0.054752
2          E3           Bow   51.529605  -0.014089
3          E4     Chingford   51.632534   0.009471
4          E5       Clapton   51.561653  -0.056807

**Store data locally**

In [19]:
geo_merged_London.to_csv('geo_merged_London.csv',index=None)

### 3.2.4 Preparing New York geography dataset 
https://en.wikipedia.org/wiki/Neighborhoods_in_New_York_City

**Store the target data in a .html file by crawling the above URL**

In [20]:
# read NewYork_district
NewYork_district=pd.read_html('NewYork.html')
NewYork_district=NewYork_district[0]
NewYork_district=NewYork_district.drop(['Areakm2','Pop.Census2010','Pop./km2'],axis=1)
NewYork_district.columns=['Borough','Neighbourhoods']
NewYork_district.head()

      Borough                                     Neighbourhoods
0  Bronx CB 1                   Melrose, Mott Haven, Port Morris
1  Bronx CB 2                              Hunts Point, Longwood
2  Bronx CB 3  Claremont, Concourse Village, Crotona Park, Mo...
3  Bronx CB 4                              Concourse, Highbridge
4  Bronx CB 5  Fordham, Morris Heights, Mount Hope, Universit...

In [21]:
# One row split into multipy rows
NewYork_district_expandrows=NewYork_district.drop('Neighbourhoods', axis=1).join(NewYork_district['Neighbourhoods'].str.split(',', expand=True).stack().reset_index(level=1, drop=True).rename('District'))
NewYork_district_expandrows=NewYork_district_expandrows.dropna()
NewYork_district_expandrows.reset_index(drop=True,inplace=True)
NewYork_district_expandrows=NewYork_district_expandrows.iloc[::2]
NewYork_district_expandrows.reset_index(drop=True,inplace=True) # again
NewYork_district_expandrows.head()

      Borough            District
0  Bronx CB 1             Melrose
1  Bronx CB 1         Port Morris
2  Bronx CB 2            Longwood
3  Bronx CB 3   Concourse Village
4  Bronx CB 3          Morrisania

In [22]:
print("Before drop_duplicates,NewYork_district_expandrows.shape is: ",NewYork_district_expandrows.shape)
NewYork_district_expandrows=NewYork_district_expandrows.drop_duplicates(subset=['District'], keep='first')
print("After drop_duplicates,NewYork_district_expandrows.shape is: ",NewYork_district_expandrows.shape)

Before drop_duplicates,NewYork_district_expandrows.shape is:  (165, 2)
After drop_duplicates,NewYork_district_expandrows.shape is:  (163, 2)

In [23]:
Location_with_district=gen_location_by_district(NewYork_district_expandrows['District'].values,'New York')

Melrose 40.8256703 -73.9152416
 Port Morris 40.8015147 -73.9095811
 Longwood 42.9531152 -78.3694646
 Concourse Village 40.823868149999996 -73.92118091218828
 Morrisania 40.8292672 -73.9065253
 Highbridge 40.84591775 -73.92984478686536
 Morris Heights 40.8498223 -73.919859
 University Heights 40.8618406 -73.9135154
 Belmont 42.2231241 -78.0344506
 West Farms 40.8398226 -73.8776356
 Norwood 44.75161 -74.994392
Fieldston 40.8944444 -73.9033333
 Kingsbridge Heights 40.8725702 -73.9026619
 Riverdale 40.90056 -73.90639
 Van Cortlandt Village 41.2486935 -73.90858593483966
 Bruckner 40.8266667 -73.8286111
 Clason Point 40.8147164 -73.8599648
 Parkchester 40.8332047 -73.8609723
 Unionport 40.8273229 -73.8501349
 Co-op City 40.8738889 -73.8294444
 Pelham Bay 40.8662112 -73.7895774
 Throgs Neck 40.8226008 -73.8195784
Allerton 40.8654299 -73.8673652
 Indian Village 42.9439553 -76.1624253
 Morris Park 40.8545235 -73.8602968
 Pelham Parkway 40.8588576 -73.8554627
Baychester 40.8612222 -73.8412865
 Eastchester 40.9610563 -73.8064739
 Olinville 40.882014 -73.866201
 Williamsbridge 40.87762425 -73.87752006260061
 Williamsburg Houses 40.70962095 -73.94186815686678
 Brooklyn Heights 40.696084850000005 -73.9950278391265
 Clinton Hill 40.6897222 -73.9652778
 Fort Greene 40.6907711 -73.9766245
 Fulton Mall 40.6918024 -73.9882134
Bedford-Stuyvesant 40.6834364 -73.9412488
 Stuyvesant Heights 42.387863 -73.775751
City Line 40.6762251 -73.8869623
 New Lots 10.6494498 -61.5108322
Carroll Gardens 40.6784201 -73.9948021
 Gowanus 40.6791695 -73.9885041
 Red Hook 40.6751032 -74.0095841
 Sunset Park 40.644337 -74.007532
Crown Heights 40.667471 -73.9435662
 Weeksville 40.67649605 -73.9345740933517
Bay Ridge 40.6339929 -74.0145841
 Fort Hamilton 40.6187154 -74.0331957
 Bensonhurst 40.6049772 -73.9934061
 Mapleton 42.8436796 -76.5999435
 Kensington 40.7934345 -73.7220756
 Ocean Parkway 40.576312 -73.968501
 Brighton Beach 40.57964365 -73.96111081059607
 Gravesend 40.5961338 -73.9739426
Flatbush 40.6520481 -73.959027
 Midwood 40.6188823 -73.9654889
 Homecrest 40.58611335 -73.95731014951107
 Kings Highway 40.6086699 -73.957734
 Manhattan Beach 40.5766309 -73.9409798480918
 Sheepshead Bay 40.5912161 -73.9445822
 Ocean Hill 40.6757317 -73.9124338
 East Flatbush 40.6537148 -73.9304151
 Farragut 40.69918995 -73.98174195424423
 Canarsie 40.643715 -73.9006921
 Georgetown 42.7684005 -75.7365767
 Mill Basin 40.6032495 -73.9068747
Battery Park City 40.7110166 -74.0169369
 Tribeca 40.7153802 -74.0093063
 Greenwich Village 40.7319802 -73.9965658
 Lower East Side 40.7159357 -73.9868057
Alphabet City 40.7251022 -73.9795833
 East Village 40.7292688 -73.9873613
 Two Bridges 40.7112884 -73.9922333
 Clinton 43.0484029 -75.3785034
 Hudson Yards 40.7559064 -74.0005322
Gramercy Park 40.73792525 -73.98593239621584
 Rose Hill 40.743338 -73.9841594
 Peter Cooper Village 40.73391845 -73.97603006210491
 Sutton Place 40.664373 -73.469407
 Turtle Bay 40.7534666 -73.9688659
Lincoln Square 40.7723194 -73.9844012
 Upper West Side 40.7870455 -73.9754163
 Roosevelt Island 40.7614177 -73.95022816711152
 Yorkville 40.7780067 -73.9482022
 Manhattanville 40.8157775 -73.951554
Harlem 40.8078786 -73.9454154
East Harlem 40.7947222 -73.9425
 Spanish Harlem 40.7866636 -73.9501801
Inwood 40.8692579 -73.9204949
Astoria 40.7720145 -73.9302673
 Queensbridge 40.754494550000004 -73.94561281905408
 Long Island City 40.7415095 -73.9569751
 Rikers Island 40.79193175 -73.88349371727949
Blissville 40.7347214 -73.9377798
East Elmhurst 40.7612123 -73.8651358
 Elmhurst 40.7365804 -73.8783932
 Glendale 40.7014917 -73.8868028
 Middle Village 40.718215650000005 -73.87867154730415
 Ridgewood 40.7080556 -73.9141667
 Rego Park 40.72286495 -73.86210197975404
 Beechhurst 40.7914903 -73.8045781
 Flushing 40.7654301 -73.8174291
 Malba 40.7906569 -73.8268009
 Whitestone 40.7945457 -73.8184674
Briarwood 40.7092563 -73.8201394
 Holliswood 42.7429008 -73.7728673
 Pomonok Houses 40.7332433 -73.81277820488998
Kew Gardens 40.7139415 -73.830742
 Richmond Hill 43.880078 -79.439392
Howard Beach 40.6578815 -73.8362459
 Tudor Village 51.6814067 -0.3822256
 Bayside 40.7684351 -73.7770774
 East Flushing 40.757536599999995 -73.78430452865169
 Little Neck 40.7745338 -73.7412564
 Hollis 40.7134361 -73.7670772
 St. Albans 40.6984364 -73.7606881
 Springfield Gardens 40.678159 -73.746521
 Brookville 40.8131553 -73.5673482
 Floral Park 40.7246999 -73.7048024
 Laurelton 40.6667703 -73.7515212
 New Hyde Park 40.7352157 -73.6883239
 Rosedale 40.6620479 -73.7354097
 Bayswater 40.6102778 -73.7672222
 Breezy Point 40.5562952 -73.9267466193535
 Far Rockaway 40.6053825 -73.7551326
 Rockaway Park 40.5805104 -73.8361535
Arlington 41.694069 -73.88636347613317
 Clifton 40.6201041 -74.0770857
 Elm Park 40.6314925 -74.1487544
 Graniteville 40.6248259 -74.1484765
 Livingston 42.7360902 -77.7781416
 Port Ivory 40.6409366 -74.1801442
 Randall Manor 40.6441993 -74.10457640394483
 St. George 40.6439626 -74.0734416
 Silver Lake 42.601463 -75.3323938
 West Brighton 40.5780247 -73.97492614655985
Arrochar 40.5984379 -74.0726412
 Bulls Head 40.6070484 -74.1620879
 Dongan Hills 40.588438 -74.0962528
 Emerson Hill 40.6085851 -74.0945642
 Grasmere 40.6042711 -74.087086
 New Dorp 40.5739938 -74.1159755
 Oakwood 43.6827255 -79.4380548
 Old Town 40.5967018 -74.08732595968985
 Todt Hill 40.6010083 -74.1150363
Annadale 40.5445496 -74.1765324
 Bay Terrace 40.5552778 -74.1341667
 Eltingville 40.5453831 -74.1656988
 Greenridge 40.5612236 -74.1698852
 Pleasant Plains 40.5239944 -74.2156999
 Richmond Valley 40.5201055 -74.2293113
 Tottenville 40.5112167 -74.2493117

In [24]:
Location_with_district.head()

             District   Latitude  Longitude
0             Melrose  40.825670 -73.915242
1         Port Morris  40.801515 -73.909581
2            Longwood  42.953115 -78.369465
3   Concourse Village  40.823868 -73.921181
4          Morrisania  40.829267 -73.906525

In [25]:
geo_merged_NewYork=pd.merge(NewYork_district_expandrows,Location_with_district,on='District')

In [26]:
geo_merged_NewYork.head()

      Borough            District   Latitude  Longitude
0  Bronx CB 1             Melrose  40.825670 -73.915242
1  Bronx CB 1         Port Morris  40.801515 -73.909581
2  Bronx CB 2            Longwood  42.953115 -78.369465
3  Bronx CB 3   Concourse Village  40.823868 -73.921181
4  Bronx CB 3          Morrisania  40.829267 -73.906525

In [27]:
geo_merged_NewYork.to_csv('geo_merged_NewYork.csv',index=None)

### 3.2.5 Preparing Frankfurt geography dataset 
https://en.wikipedia.org/wiki/List_of_Ortsbezirke_of_Frankfurt_am_Main

**Store the target data in a .html file by crawling the above URL**

In [28]:
Frankfurt=pd.read_html("Frankfurt.html")
Frankfurt_district=Frankfurt[0].drop(['No.','Population','Area(km²)','Population density(Population/km²)'],axis=1)
Frankfurt_district.columns=['Borough','District']
Frankfurt_district

             Borough                                           District
0       Innenstadt I  Altstadt, Bahnhofsviertel, Gallus, Gutleutvier...
1      Innenstadt II              Bockenheim, Westend-Nord, Westend-Süd
2     Innenstadt III                          Nordend-Ost, Nordend-West
3    Bornheim/Ostend                                   Ostend, Bornheim
4                Süd  Flughafen, Niederrad, Oberrad, Sachsenhausen-S...
5               West  Griesheim, Höchst, Nied, Schwanheim, Sindlinge...
6         Mitte-West                       Rödelheim, Praunheim, Hausen
7          Nord-West                           Niederursel, Heddernheim
8         Mitte-Nord                   Eschersheim, Ginnheim, Dornbusch
9           Nord-Ost  Eckenheim, Preungesheim, Berkersheim, Frankfur...
10               Ost                   Seckbach, Riederwald, Fechenheim
11  Kalbach-Riedberg                                   Kalbach-Riedberg
12  Nieder-Erlenbach                                   Nieder-Erlenbach
13           Harheim                                            Harheim
14   Nieder-Eschbach                                    Nieder-Eschbach
15    Bergen-Enkheim                                     Bergen-Enkheim

In [29]:
# One row split into multipy rows
Frankfurt_district_expandrows=Frankfurt_district.drop('District', axis=1).join(Frankfurt_district['District'].str.split(',', expand=True).stack().reset_index(level=1, drop=True).rename('District'))
#Frankfurt_district_expandrows=Frankfurt_district_expandrows.dropna()
Frankfurt_district_expandrows.reset_index(drop=True,inplace=True)
Frankfurt_district_expandrows.head()

        Borough          District
0  Innenstadt I          Altstadt
1  Innenstadt I   Bahnhofsviertel
2  Innenstadt I            Gallus
3  Innenstadt I    Gutleutviertel
4  Innenstadt I        Innenstadt

In [61]:
Location_Frankfurt_district=gen_location_by_district(Frankfurt_district_expandrows['District'].values,'Frankfurt')

Altstadt 50.1104436 8.6823506
 Bahnhofsviertel 50.1084107 8.6681512
 Gallus 50.1038405 8.6431009
 Gutleutviertel 50.1017076 8.6605407
 Innenstadt 50.1145581 8.6835914
Bockenheim 50.1233115 8.6460563
 Westend-Nord 50.1263563 8.6679209
 Westend-Süd 50.1152448 8.6622696
Nordend-Ost 50.1249197 8.6923167
 Nordend-West 50.1249136 8.67795
Ostend 50.1123728 8.6999671
 Bornheim 50.1297313 8.7106117
Flughafen 50.04303025 8.567283919206004
 Niederrad 50.0882911 8.6427072
 Oberrad 50.100008 8.7231359
 Sachsenhausen-Süd 50.0707248 8.685449728161462
 Sachsenhausen-Nord 50.0978128 8.67336208063444
Griesheim 50.0914289 8.6078631
 Höchst 50.0995118 8.5452956
 Nied 50.1007301 8.5722132
 Schwanheim 50.0853006 8.5836267
 Sindlingen 50.0798368 8.5179804
 Sossenheim 50.1201215 8.5666158
 Unterliederbach 50.1104064 8.5322471
 Zeilsheim 50.0955649 8.4947834
Rödelheim 50.1249843 8.6125536
 Praunheim 50.1507958 8.6215134
 Hausen 50.1320084 8.6243618
Niederursel 50.1690572 8.6188761
 Heddernheim 50.159627 8.6466155
Eschersheim 50.1582027 8.6562116
 Ginnheim 50.143081 8.6498558
 Dornbusch 50.1390457 8.6752715
Eckenheim 50.1517101 8.6797459
 Preungesheim 50.1565402 8.6878166
 Berkersheim 50.1732889 8.6973119
 Frankfurter Berg 50.1680209 8.6756884
 Bonames 50.1813474 8.6633305
Seckbach 50.1434285 8.7258861
 Riederwald 50.1288376 8.7331285
 Fechenheim 50.123015 8.7693856
Kalbach-Riedberg 50.186279299999995 8.639054519087743
Nieder-Erlenbach 50.2026088 8.7119602
Harheim 50.182287 8.6929716
Nieder-Eschbach 50.2017328 8.666710664514689
Bergen-Enkheim 50.15801465 8.762038791958947

In [62]:
Location_Frankfurt_district.head()

           District   Latitude  Longitude
0          Altstadt  50.110444   8.682351
1   Bahnhofsviertel  50.108411   8.668151
2            Gallus  50.103840   8.643101
3    Gutleutviertel  50.101708   8.660541
4        Innenstadt  50.114558   8.683591

In [63]:
geo_merged_Frankfurt=pd.merge(Location_Frankfurt_district,Frankfurt_district_expandrows,on='District')

In [64]:
geo_merged_Frankfurt.head()

           District   Latitude  Longitude       Borough
0          Altstadt  50.110444   8.682351  Innenstadt I
1   Bahnhofsviertel  50.108411   8.668151  Innenstadt I
2            Gallus  50.103840   8.643101  Innenstadt I
3    Gutleutviertel  50.101708   8.660541  Innenstadt I
4        Innenstadt  50.114558   8.683591  Innenstadt I

In [66]:
geo_merged_Frankfurt.to_csv("geo_merged_Frankfurt.csv",index=None)

### 3.2.6 Preparing Shanghai geography dataset
https://baike.baidu.com/item/%E4%B8%8A%E6%B5%B7%E8%A1%8C%E6%94%BF%E5%8C%BA%E5%88%92/7426389?fr=aladdin

Store the target data in a .html file by crawling the above URL

In [30]:
SH=pd.read_html("Shanghai.html")
SH=SH[0].drop([1,2,3,4,6],axis=1).dropna()
SH=SH.iloc[1:,:]
SH.reset_index(drop=True,inplace=True)
SH.columns=['Borough','District']
# one row into multi.
SH_expandrows=SH.drop('District', axis=1).join(SH['District'].str.split('、', expand=True).stack().reset_index(level=1, drop=True).rename('District'))

In [31]:
SH_expandrows

   Borough District
0      黄浦区     外滩街道
0      黄浦区     豫园街道
0      黄浦区    小东门街道
0      黄浦区    老西门街道
0      黄浦区    打浦桥街道
..     ...      ...
14     奉贤区     西渡街道
14     奉贤区     奉浦街道
14     奉贤区     金海街道
15     崇明区      新村乡
15     崇明区      横沙乡

[109 rows x 2 columns]

In [90]:
# gen location 
Location_SH_district=gen_location_by_district(SH_expandrows['District'].values,'上海')

外滩街道 29.88755175 121.55338467430944
豫园街道 31.2273624 121.4830613
小东门街道 31.2219356 121.4965796
老西门街道 31.2171507 121.4816021
打浦桥街道 31.2056211 121.4687168
五里桥街道 31.2028865 121.4770209
南京东路街道 31.2282844 121.467424
半淞园路街道 31.2090944 121.4827018
淮海中路街道 31.2169213 121.4712274
瑞金二路街道 31.2192886 121.4625343
龙华街道 22.6587573 114.01449
长桥街道 31.25371215 120.61038498518349
田林街道 50.9884222 11.3299251
湖南路街道 40.0285928 139.9241924
天平路街道 39.177749 117.1250705
枫林路街道 37.5117374 121.4402328
徐家汇街道 31.1963162 121.4313608
斜土路街道 40.6194077 109.86303295837365
漕河泾街道 31.1662111 121.4286293
虹梅路街道 31.1622429 121.3926923
凌云路街道 23.2291594 113.2928279
康健新村街道 29.3111989 117.2058923
虹桥街道 26.7870682 112.1187177
华阳路街道 36.0839572 120.3353449
新华路街道 38.7085962 116.1144996
江苏路街道 36.0684971 120.3319197
天山路街道 45.594717 84.8548364
周家桥街道 28.9669763 115.9401731
程家桥街道 31.5790406 130.5614081
北新泾街道 31.218802 121.36812
仙霞新村街道 35.4374105 139.6601933
北站街道 40.3441416 120.3126711
临汾路街道 36.1864128 120.3722194
宝山路街道 31.253457599999997 121.471792
江宁路街道 31.241971 121.443156
静安寺街道 31.2264779 121.438873
曹家渡街道 31.2313924 121.4352329
大宁路街道 25.0213156 121.2634774
南京西路街道 31.2244219 121.4477857
天目西路街道 31.2489416 121.4566157
芷江西路街道 31.2603114 121.4602505
石门二路街道 31.2376942 121.4528511
共和新路街道 31.2483488 121.458495
彭浦新村街道 31.3074944 121.4439361
万里街道 31.2738576 121.400429
长寿路街道 31.2412717 121.429651
宜川路街道 31.2573832 121.4395862
甘泉路街道 31.2635326 121.426058
石泉路街道 31.257175 121.4196271
真如镇街道 31.2585858 121.3963144
曹杨新村街道 31.243704 121.4056342
长风新村街道 31.2318238 121.4061499
北外滩街道 29.88755175 121.55338467430944
欧阳路街道 31.2722284 121.4832022
广中路街道 25.1032073 110.2838995
嘉兴路街道 36.1090463 120.3510414
曲阳路街道 31.278536 121.4857918
江湾镇街道 29.35689645 118.07348848691339
四川北路街道 31.2453432 121.4814071
凉城新村街道 27.8490128 102.2650495
殷行街道 39.536485 118.0884167
大桥街道 36.7799 117.0265199
平凉路街道 31.273847 121.5434927
江浦路街道 29.817962 106.159272
控江路街道 31.2755949 121.5077941
长海路街道 37.0268611 121.9739008
五角场街道 31.3064494 121.5125653
四平路街道 36.0858558 120.3529756
定海路街道 37.1888783 119.9390674
新江湾城街道 31.3307804 121.5023484
延吉新村街道 29.3111989 117.2058923
古美街道 9.9313167 115.5221101
新虹街道 22.6927786 120.3510529
浦锦街道 31.2322758 121.4692071
江川路街道 31.0113391 121.4130041
吴淞街道 31.3745763 121.4895071
张庙街道 31.3385346 121.4372383
友谊路街道 43.8936877 87.51425225469008
真新街道 31.2462706 121.3556599
嘉定镇街道 31.3861987 121.2461028
新成路街道 31.3883629 121.2653418
花木街道 36.3991761 139.7594944
洋泾街道 31.241739350000003 121.54317680114835
塘桥街道 40.1840602 117.5932807
浦兴路街道 31.2687801 121.5839936
陆家嘴街道 31.24016825 121.49794463601899
周家渡街道 31.18714625 121.4892365
东明路街道 33.8786801 115.4537153
上钢新村街道 29.3111989 117.2058923
沪东新村街道 39.6349762 118.21683
金杨新村街道 29.3111989 117.2058923
南码头路街道 31.191186 121.5081099
潍坊新村街道 34.8011479 135.6328833
石化街道 30.7278708 121.3321733
岳阳街道 31.0182765 121.2313372
中山街道 31.0384758 121.24118
永丰街道 30.5659165 114.16954189233239
方松街道 31.046825400000003 121.20148303626398
广富林街道 31.051115 121.217627
九里亭街道 31.1434576 121.3065846
夏阳街道 31.1501939 121.120585
盈浦街道 31.1475268 121.1098573
香花桥街道 31.1731032 121.1180277
西渡街道 31.2322758 121.4692071
奉浦街道 30.492517 116.35097
金海街道 42.8300763 130.3734902
新村乡 31.8311419 121.3276315
横沙乡 31.3427721 121.8375283

In [91]:
Location_SH_district.head()

  District   Latitude   Longitude
0     外滩街道  29.887552  121.553385
1     豫园街道  31.227362  121.483061
2    小东门街道  31.221936  121.496580
3    老西门街道  31.217151  121.481602
4    打浦桥街道  31.205621  121.468717

In [92]:
geo_merged_SH=pd.merge(Location_SH_district,SH_expandrows,on='District')

In [93]:
geo_merged_SH.head()

  District   Latitude   Longitude Borough
0     外滩街道  29.887552  121.553385     黄浦区
1     豫园街道  31.227362  121.483061     黄浦区
2    小东门街道  31.221936  121.496580     黄浦区
3    老西门街道  31.217151  121.481602     黄浦区
4    打浦桥街道  31.205621  121.468717     黄浦区

In [94]:
geo_merged_SH.to_csv('ShangHai.csv',index=None)

### 3.2.7 Preparing Toronto geography dataset
https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M

**Since Toronto's data has been obtained in the coursework, it can be used directly here.It store in local<geo_merged_Toronto.csv>**

## 3.3  Venue information of chosen metropolitan cities

### 3.3.1 Read prepared geo. dataset

In [37]:
geo_merged_London=pd.read_csv('geo_merged_London.csv')
geo_merged_Torondo=pd.read_csv('geo_merged_Toronto.csv')
geo_merged_NewYork=pd.read_csv('geo_merged_NewYork.csv')
geo_merged_Frankfurt=pd.read_csv('geo_merged_Frankfurt.csv')
geo_merged_SH=pd.read_csv('ShangHai.csv')
print('geo_merged_London.shape is ',geo_merged_London.shape)
print('geo_merged_Torondo.shape is ',geo_merged_Torondo.shape)
print('geo_merged_NewYork.shape is ',geo_merged_NewYork.shape)
print('geo_merged_Frankfurt.shape is ',geo_merged_Frankfurt.shape)
print('geo_merged_SH.shape is ',geo_merged_SH.shape)

geo_merged_London.shape is  (110, 4)
geo_merged_Torondo.shape is  (103, 4)
geo_merged_NewYork.shape is  (151, 4)
geo_merged_Frankfurt.shape is  (46, 4)
geo_merged_SH.shape is  (108, 4)

### 3.3.2 Generate district nearby Venues

In [38]:
CLIENT_ID = 'QYHRIW4L1Y5WF2MAPABDG5WNS4CVTPBPM5GJ35W5R02SLMB2' # your Foursquare ID
CLIENT_SECRET = 'SAKZYG1K2PN1Z0V1VXFZZYHQF33DAZBNOTALAHYY0UWPYSL0' # your Foursquare Secret
VERSION = '20180604'

In [41]:
toronto_venues = getNearbyVenues(names=geo_merged_Torondo['District'],
                                   latitudes=geo_merged_Torondo['Latitude'],
                                   longitudes=geo_merged_Torondo['Longitude'],
                                   radius=500,
                                   LIMIT=100
                                  )
SH_venues = getNearbyVenues(names=geo_merged_SH['District'],
                                   latitudes=geo_merged_SH['Latitude'],
                                   longitudes=geo_merged_SH['Longitude'],
                                   radius=500,
                                   LIMIT=100
                                  )
NewYork_venues = getNearbyVenues(names=geo_merged_NewYork['District'],
                                   latitudes=geo_merged_NewYork['Latitude'],
                                   longitudes=geo_merged_NewYork['Longitude'],
                                   radius=500,
                                   LIMIT=100
                                  )
London_venues = getNearbyVenues(names=geo_merged_London['District'],
                                   latitudes=geo_merged_London['Latitude'],
                                   longitudes=geo_merged_London['Longitude'],
                                   radius=500,
                                   LIMIT=100
                                  )
Frankfurt_venues = getNearbyVenues(names=geo_merged_Frankfurt['District'],
                                   latitudes=geo_merged_Frankfurt['Latitude'],
                                   longitudes=geo_merged_Frankfurt['Longitude'],
                                   radius=1000,
                                   LIMIT=100
                                  )

In [43]:
toronto_venues.to_csv('toronto_venues.csv',index=None)
SH_venues.to_csv('SH_venues.csv',index=None)
NewYork_venues.to_csv('NewYork_venues.csv',index=None)
London_venues.to_csv('London_venues.csv',index=None)
Frankfurt_venues.to_csv('Frankfurt_venues.csv',index=None)

### 3.3.3 Venue dataset summary 
**Take a look at London_venues, it's shown that there $3429$ Venues are collected with total $282$ categories.**

In [52]:
London_venues

,District,District Latitude,District Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
0,Head district,51.576070,-0.085240,New River Studios,51.574848,-0.087990,Performing Arts Venue
1,Head district,51.576070,-0.085240,Florentina Fitness,51.576162,-0.089063,Gym
2,Head district,51.576070,-0.085240,gurbet supermarket,51.577885,-0.082615,Grocery Store
3,Head district,51.576070,-0.085240,No.8 Seven Sisters,51.578388,-0.082060,Hostel
4,Head district,51.576070,-0.085240,Amhurst Hotel,51.574609,-0.079411,Hotel
...,...,...,...,...,...,...,...
3424,West Kensington,51.490662,-0.205916,Tesco,51.492879,-0.201221,Supermarket
3425,West Kensington,51.490662,-0.205916,Maurizio Barca,51.489406,-0.206283,Italian Restaurant
3426,West Kensington,51.490662,-0.205916,Domino's Pizza,51.493239,-0.208804,Pizza Place
3427,West Kensington,51.490662,-0.205916,Simply Rooms & Suites,51.494563,-0.207051,Hotel
3428,West Kensington,51.490662,-0.205916,Nisa,51.490603,-0.211970,Convenience Store

In [53]:
cats=London_venues['Venue Category'].unique()

In [54]:
len(cats)

282